.detail__block {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 50px;
}

.detail__block img {
  margin-right: 30px;
}

.detail__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.detail__title {
  margin: 0;
  padding: 0;
}

.detail__genres {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.detail__genres li {
  margin-right: 10px;
}

@media screen and (max-width: 415px) {
  .detail__block {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .detail__block img {
    margin:0;
  }

  .detail__poster {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}