.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader,
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
}